{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
 <div class="container-scroller">
   {{ form_errors(registrationForm) }}
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="../../assets/images/logo.svg" alt="logo">
              </div>
              {{ form_start(registrationForm) }}
                <div class="form-group">
                {{ form_row(registrationForm.fullName) }}
                </div>
                <div class="form-group">
                {{ form_row(registrationForm.email) }}
                </div>
                <div class="form-group">
                {{ form_row(registrationForm.address) }}
                </div>
                <div class="form-group">
                {{ form_row(registrationForm.plainPassword, {
                      label: 'PASSWORD'
                }) }}
                </div>
                {{ form_row(registrationForm.agreeTerms) }}
                <button class="btn btn-lg btn-primary mt-4" type="submit">
                  Register
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    {{ form_end(registrationForm) }}
{% endblock %}
