{% extends 'base.html.twig' %}

{% block title %}Add Car{% endblock %}

{% block body %}
<div class="container-scroller">
{% include 'partials/_header.html.twig'%}
<div class="container-fluid page-body-wrapper">
    {% include 'partials/sideBar.html.twig' %}
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h1 class="mt-4">Add Your Car </h1>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="mb-3 row">
                        <label class="col-lg-3 col-form-label">Make</label>
                        <div class="col-lg-9">
                            {{ form_widget(form.make, {'attr': {'class': 'form-control' , 'id': 'SelectMakeId', 'class': 'btnSelectMake'}}) }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-lg-3 col-form-label">Model</label>
                        <div class="col-lg-9">
                            {{ form_widget(form.model, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-lg-3 col-form-label">Type</label>
                        <div class="col-lg-9">
                            {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-lg-3 col-form-label">Year</label>
                        <div class="col-lg-9">
                            {{ form_widget(form.year, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-lg-3 col-form-label">Date</label>
                        <div class="col-lg-9">
                            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-lg-3 col-form-label">Mileage</label>
                        <div class="col-lg-9">
                            {{ form_widget(form.mileage, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9 offset-lg-3">
                            <button class="btn btn-primary btn-lg" type="submit">Save</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
 <script>
     <script src="script.js"></script>
     let selectModelBtn = document.querySelector('.btnSelectMake');
    if(selectModelBtn){
        selectModelBtn.addEventListener('onclick',() => {
            fetchCarModel()
        })
    }

 async function fetchCarModel(){
     const fetchPromise = fetch("https://api.api-ninjas.com/v1/carmakes");
     fetchPromise.then(response => {
         return response.json();
     }).then(carmakes => {
         console.log(carmakes);
     });

     //const API_KEY = 'BmkjbxbJdUDebq7e40gr2Q==jL3XvpCBOQOxcejn';
     //let url = 'https://api.api-ninjas.com/v1/carmakes';

    /* try{
         let url = 'https://api.api-ninjas.com/v1/carmakes';
         let response = await fetch(url);

          if (!response.ok) {
              throw new Error(`Failed to fetch car models: ${response.status}`);
            }

         const models = await response.json();
           models.forEach(model => {
                    const option = document.createElement('option');
                    option.value = model.model;
                    option.textContent = model.model;
                    makeSelect.appendChild(option);
                });
         console.log(response);
     }catch (error){

     }*/

 }
 </script>
{% endblock %}
